button.sagecell_fullScreen.sagecell_icon-resize-full {
    top: 2px;
    right: 17px;
    opacity: 0.5;
}

div.CodeMirror.cm-s-default {
    border-color: #dfdfdf;
}

div.sagecell_permalink {
    display: none;
}

th {
    background-color: #bcbfc2;
    font-size: 20px;
    padding: 5px 10px;
}

td {
    text-align: left;
    border-right: 2px solid #bdbdbd;
    padding: 5px 10px;
}

tr:nth-of-type(even) {
    background-color: #fafafa;
}

table {
    border-collapse: collapse;
    border: 2px solid #bdbdbd;
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    width: 100%
}

#settingbar {
    display: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 2px;
    margin-bottom: 5px;
}

.CodeMirror-sizer {
    padding-top: 5px;
}

.container {
    width: calc(100% - 14px);
    display: grid;
    width: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(62px, max-content));
    grid-gap: 0.3em;
    padding: 5px;
    border: 1px solid #ccc;
    margin: 2px;
    background-color: #ccc;
}

#lastused.container {
    display: none;
    min-height: 40px;
    width: calc(100% - 28px);
}

#lastused.container.show {
    display: block;
}

#lastused.container button#clearbtn {
    cursor: pointer;
    position: absolute;
    right: 8px;
    /*writing-mode: vertical-rl;*/
    background-color: #f0c0c9;
    border: 1px solid #ccc;
    padding: 6px 4px;
    border-radius: 5px;
    transform: rotate(90deg);
}

#lastused.container button#clearbtn4:hover {
    background-color: #ffa2b5
}

#radioset label {
    font-size: 19px;
}

.rown {
    height: 20px;
    width: 20px;
}

.kbdbtn {
    padding: 5px;
    text-align: center;
    cursor: pointer;
    background-color: #e6e6e6;
    color: #636363;
    font-size: 1em;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #333;
    height: 22px;
    max-width: 50px;
    margin: 2px 3px;
    position: relative;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.kbdbtn.width {
    text-indent: -4px;
}

.kbdbtn:after {
    content: "";
    background: #7e95ff;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.7s
}

.kbdbtn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.kbdbtnc {
    padding: 5px;
    text-align: center;
    cursor: pointer;
    background-color: #e6e6e6;
    color: #636363;
    font-size: 1em;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #333;
    transition: .2s;
}

.fnbtn.kbdbtn.active {
    background-color: #a3bfdb;
}

.kbdbtn.big {
    line-height: 0.9;
}

.kbdbtn:hover {
    background-color: white;
    color: black;
}

#spec1.kbdbtn {
    background-color: #ff89a0;
}

#sbtglbtn {
    position: absolute;
    top: 14px;
    background-color: #e6e6e6;
    color: #636363;
    cursor: pointer;
    border: 1px solid #d8d8d8;
    padding: 5px;
    border-radius: 3px;
    width: 42px;
    font-size: large;
}

#sbtglbtn {
    right: 10px;
}

#sbtglbtn:hover {
    background-color: #cccccc;
    border-color: #b3b3b3;
}

button.sagecell_evalButton,
button.sagecell_evalButton.ui-button.ui-corner-all.ui-widget {
    background-color: #c1c4d2
}

button.sagecell_evalButton:hover,
button.sagecell_evalButton.ui-button.ui-corner-all.ui-widget:hover {
    background-color: #a9aec5;
}


/* @media (max-width: 50rem) {
    button.sagecell_fullScreen.sagecell_icon-resize-full {
        display: none;
    }
} */

h2 {
    color: #007fff;
    text-align: center;
    margin-top: 10px;
}

#output {
    display: inline-block;
    min-height: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 2px 10px;
    background-color: #f7f7f7;
    color: #007fff;
    font-size: 18px;
    width: calc(100% - 26px);
    overflow: auto;
    border: 1px solid #e5fff8;
}

button.otherbtn,
button.sample-open {
    border: 1px solid #d3d3d3;
    font-size: larger;
    border-radius: 4px;
    padding: 0.4em 1em;
    color: #555;
    text-decoration: none;
    background-color: #c1c4d2;
    font-weight: normal;
    font-family: Verdana, Arial, sans-serif;
    font-size: 1.1em;
    vertical-align: middle;
    display: inline-block
}

button.otherbtn:hover,
button.sample-open:hover {
    background-color: #a9aec5;
    border: 1px solid #999;
}


/* button.sample-open {
    display: block
} */

#cm-select {
    background-color: #ffffff;
    display: inline-block;
    width: 180px;
    border: none;
    border-bottom: 1px solid #30363D;
}


/* Toggleswitch*/

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #54738b;
}

input:focus+.slider {
    box-shadow: 0 0 1px #54738b;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 50%;
}

.myslick.fn {
    display: none;
    transition: 200
}

.myslick.fn.show {
    display: block;
    padding-top: 6px;
    border-top: 2px dotted #aaa;
}

#tabcontainer {
    width: calc(100% - 52px);
    padding: 0 25px;
    padding-top: 4px;
    background-color: #eee;
    border: 1px solid #ccc;
    margin-bottom: 4px;
    text-align: center;
    border-radius: 6px
}

#tabcontainer1,
#tabcontainer2 {
    width: calc(100% 42px);
    padding: 0 25px;
    padding-top: 4px;
    border: 1px solid #ccc;
    text-align: center;
    background-color: #eee;
    margin-bottom: 4px;
    border-radius: 6px
}

#tabs {
    margin: 2px;
    padding-bottom: 1px;
}

.slick-next::before,
.slick-prev::before {
    color: #888888!important;
    font-size: 28px!important;
}

.slick-prev {
    left: -26px!important;
    height: 28px!important;
    width: 28px!important;
}

.slick-next {
    right: -26px!important;
    height: 28px!important;
    width: 28px!important
}


/* drilldown*/

div#sample-container {
    display: none;
    padding-top: 3px;
    margin-right: 5px;
    margin-bottom: 5px;
}

iframe#samples {
    border: 2px solid #ccc;
    background-color: #f6f5ff;
}

iframe#samples.shrinked {
    width: calc(100% - 300px);
    margin-left: 300px
}

@media (max-width: 500px) {
    iframe#samples.shrinked {
        /* display: none; */
        position: sticky;
        margin-left: 0px;
        width: calc(100% - 0px);
    }
}

body {
    left: 0;
}


/* .zeynep-opened body {
    overflow: hidden;
} */

.zeynep {
    right: auto;
    left: 0;
    position: relative;
    height: 0;
}

.zeynep.opened {
    position: fixed;
    height: calc(100% + 40px);
    top: 0;
    bottom: 5px;
    transform: translateX(0) translateZ(0);
}

@media (max-width: 500px) {
    .zeynep.opened {
        margin-left: calc((100% - 295px)*.5)
    }
}

@media (max-width: 500px) {
    .zeynep.opened {
        position: sticky;
    }
}

.zeynep-overlay {
    background-color: #6d778ebb!important;
}

.lead {
    font-size: 16px;
    line-height: 1.44;
    max-width: 260px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.btn-open {
    border: 0;
    border-radius: 22.5px;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, .05);
    display: none;
    font-size: 16px;
    font-weight: bold;
    outline: 0;
    padding: 0.4em 1em;
    cursor: pointer;
    font-size: 1.1em;
    vertical-align: middle;
    display: none;
}

.btn-open.shown {
    display: inline-block;
}

.btn-open:active {
    box-shadow: inset 0 3px 5px 0px rgba(0, 0, 0, .1);
}

.btn-open.first {
    background-color: #6d778e;
    color: #ffffff;
}


/* zeynepjs menu styles */

.zeynep {
    background-color: #ffffff;
    color: #404143;
    width: 295px;
}

.zeynep ul {
    list-style-type: none;
    padding: 0;
    padding-left: 20px;
    -webkit-overflow-scrolling: touch;
}

.zeynep ul>li {
    display: block;
}

.zeynep ul>li>a {
    color: inherit;
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding: 18px 20px;
    text-decoration: none;
    transition: all 150ms;
}

.zeynep ul>li>a:hover {
    background-color: #efefef;
    border-radius: 3px;
}

.zeynep ul>li:not(:last-child)>a {
    border-bottom: 1px solid #efefef;
}

.zeynep ul>li.has-submenu>a {
    background-image: url("https://cdn.jsdelivr.net/npm/zeynepjs@2.2.0/examples/images/submenu-arrow.svg");
    background-position: right 20px center;
    background-repeat: no-repeat;
    background-size: 8px 14px;
}

.zeynep ul>li.has-submenu>a:hover {
    background-image: url("https://cdn.jsdelivr.net/npm/zeynepjs@2.2.0/examples/images/submenu-arrow-active.svg");
}


/* zeynepjs submenu styles */

.zeynep .submenu {
    background-color: #ffffff;
    left: 295px;
}

.zeynep .submenu-header {
    background-image: url("https://cdn.jsdelivr.net/npm/zeynepjs@2.2.0/examples/images/menu-back.svg");
    background-position: left 20px center;
    background-repeat: no-repeat;
    background-size: 8px 14px;
    border-bottom: solid 1px #efefef;
    cursor: pointer;
    position: relative;
    opacity: 0.6
}

.zeynep .submenu-header>a {
    color: inherit;
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding: 18px 20px;
    padding-left: 40px;
    text-decoration: none;
}

.zeynep .submenu-header>a:before {
    background-image: url("https://cdn.jsdelivr.net/npm/zeynepjs@2.2.0/examples/images/submenu-arrow.svg");
    background-position: right 20px center;
    background-repeat: no-repeat;
    background-size: 8px 14px;
    content: "";
    height: 100%;
    left: 26px;
    position: absolute;
    top: 0;
    transform: rotate(-180deg);
    width: 20px;
}

.zeynep .submenu>label {
    color: #f1f1f1;
    display: block;
    font-size: 18px;
    font-weight: bold;
    /* margin-bottom: 8px;
    margin-top: 19px;
    opacity: .5;
    padding-left: 40px; */
    padding-bottom: 13px;
    padding-top: 14px;
    background-color: #6d778e;
    padding-left: 10px;
    width: 100%;
    position: sticky;
    top: 0
}
