html {
    background-color: #0E1218;
}

button.sagecell_fullScreen.sagecell_icon-resize-full {
    top: 2px;
    right: 17px;
}

div.CodeMirror.cm-s-default {
    border-color: #30363D;
}

div.sagecell_sessionOutput {
    color: #95b1ff;
}

img.sagecell_spinner {
    background-color: #dddddd;
}

div.sagecell_poweredBy {
    color: #95b1ff;
}

div.sagecell_poweredBy a {
    color: #0000FF
}

div.sagecell_sessionOutput.sagecell_active {
    border-color: #007fff;
}

div.sagecell_permalink {
    display: none;
}

table.kbd tr td {
    width: 20px;
    height: 15px;
    background-color: #eee;
    padding: 5px;
    text-align: center;
    line-height: 25px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #ddd;
}

table.kbd tr td:hover {
    background-color: #ddd;
    border: 1px solid #ccc;
}

#settingbar {
    border: 1px solid #30363D;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 5px;
}

.CodeMirror-sizer {
    padding-top: 5px;
}

.container {
    display: grid;
    width: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
    grid-gap: 0.3em;
    padding: 5px;
    border: 1px solid #30363D;
    margin: 2px;
}

.kbdbtn {
    padding: 5px;
    text-align: center;
    cursor: pointer;
    background-color: #161B22;
    color: #95b1ff;
    font-size: 1em;
    border-radius: 5px;
    /*box-shadow: 1px 1px 1px #333;*/
    transition: .2s;
    height: 22px;
    max-width: 50px;
    margin: 2px 3px;
    outline: 1px solid #27273a;
}

.kbdbtnc {
    padding: 5px;
    text-align: center;
    cursor: pointer;
    background-color: #161B22;
    color: #95b1ff;
    font-size: 1em;
    border-radius: 5px;
    /*box-shadow: 1px 1px 1px #333;*/
    transition: .2s;
    outline: 1px solid #27273a;
}

.fnbtn.kbdbtn.active {
    background-color: #002efd;
}

.kbdbtn.big {
    line-height: 0.9;
}

.kbdbtn:hover {
    box-shadow: 4px 4px 4px #353f4e;
    transform: scale(1.05);
    background-color: #575e68;
    color: #b4c8ff;
}

#spec1.kbdbtn {
    background-color: #77071d;
    line-height: 1;
}

#spec1.kbdbtn:hover {
    background-color: #990b28;
}

#btglbtn,
#fntglbtn,
#sbtglbtn {
    position: absolute;
    top: 14px;
    background-color: #28313E;
    color: #b4c8ff;
    border: 1px solid #30363D;
    cursor: pointer;
    border: none;
    padding: 5px;
    border-radius: 3px;
    width: 32px;
    height: 28px;
}

#btglbtn.closed,
#fntglbtn.closed,
#sbtglbtn.closed {
    opacity: 0.65;
    background-color: #ff0000;
}

#btglbtn {
    right: 45px;
}

#fntglbtn {
    right: 80px;
}

#sbtglbtn {
    right: 10px;
}

#btglbtn:hover,
#fntglbtn:hover,
#sbtglbtn:hover {
    background-color: #3D4C5F
}

#btglbtn.closed:hover,
#fntglbtn.closed:hover,
#sbtglbtn.closed:hover {
    border-color: #af0000;
}

button.sagecell_evalButton,
button.sagecell_evalButton.ui-button.ui-corner-all.ui-widget {
    background-color: #212E40;
    color: #95b1ff;
    border: 1px solid #30363D;
}

button.sagecell_evalButton:hover,
button.sagecell_evalButton.ui-button.ui-corner-all.ui-widget:hover {
    box-shadow: 4px 4px 4px #353f4e;
    background-color: #575e68;
    color: #b4c8ff;
}

@media (max-width: 50rem) {
    button.sagecell_fullScreen.sagecell_icon-resize-full {
        display: none;
    }
}

h2 {
    color: #007fff;
    text-align: center;
    margin-top: 10px
}

#output {
    display: inline-block;
    min-height: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 2px 10px;
    color: #95b1ff;
    font-size: 18px;
    width: 96%;
    overflow: auto;
    border: 1px solid #30363D;
    margin-left: 1%;
}

button.otherbtn {
    background-color: #212E40;
    color: #95b1ff;
    border: 1px solid #30363D;
    font-size: larger;
    border-radius: 4px;
    padding: 0.4em 1em;
    text-decoration: none;
    font-weight: normal;
    font-family: Verdana, Arial, sans-serif;
    font-size: 1.1em;
    margin-top: 10px;
}

button.otherbtn:hover {
    box-shadow: 4px 4px 4px #353f4e;
    background-color: #575e68;
    color: #b4c8ff;
}

#cm-select {
    display: inline-block;
    width: 180px;
    background-color: #161B22;
    color: #95b1ff;
    border: none;
    border-bottom: 1px solid #30363D;
}


/* Toggleswitch*/

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #1a2d3b;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 50%;
}

.myslick.fn {
    display: none;
}

.myslick.fn.show {
    display: block;
}

#tabs {
    margin: 2px;
}

.slick-dots li button::before {
    color: white!important;
}

.myslick.fn {
    display: none;
    transition: 200
}

.myslick.fn.show {
    display: block;
}

#tabcontainer {
    width: calc(100% - 52px);
    padding: 0 25px;
    padding-top: 4px;
    background-color: #181b24;
    border: 1px solid #423030;
    margin-bottom: 4px;
    text-align: center;
}

#tabcontainer1 {
    width: calc(100% 42px);
    padding: 0 25px;
    padding-top: 4px;
    border: 1px solid #423030;
    text-align: center;
}

#tabs {
    margin: 2px;
    padding-bottom: 1px;
}

#tabs .container {
    background-color: #0E1218;
}

.slick-next::before,
.slick-prev::before {
    color: #95B1EE !important;
    font-size: 28px !important;
}

.slick-prev {
    left: -26px!important;
    height: 28px!important;
    width: 28px!important;
}

.slick-next {
    right: -26px!important;
    height: 28px!important;
    width: 28px!important
}
