html {
    background-color: #0E1218;
}

button.sagecell_fullScreen.sagecell_icon-resize-full {
    top: 2px;
    right: 17px;
    opacity: 0.2;
}

button.sagecell_fullScreen.sagecell_icon-resize-full:hover,
button.sagecell_fullScreen.sagecell_icon-resize-full:active {
    opacity: 0.9
}

div.CodeMirror.cm-s-default {
    border-color: #30363D;
}

#mycell,
#sample-c {
    border: 1px solid #999;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 0;
    box-shadow: 0px 0px 5px 5px #465f756b;
}

#sample-c {
    width: 44px;
}

#sample-c.opened {
    width: unset;
}

div.sagecell_sessionOutput {
    background-color: #3e3e3e;
    color: #c1c6f9;
    border-color: #595959;
}

div.sagecell_poweredBy {
    color: #95b1ff;
}

div.sagecell_poweredBy a {
    color: #0000FF
}

div.sagecell_sessionOutput.sagecell_active {
    border-color: #007fff;
}

div.sagecell_permalink {
    display: none;
}

#menubar,
#settingbar {
    display:none;
    border: 1px solid #30363D;
    border-radius: 3px;
    padding: 2px;
    margin-bottom: 5px;
}

.zeynep input[type='file'],
#menubar table tr td input[type='file'] {
    color: rgba(0, 0, 0, 0)
}

#dwnbtn {
    top: 3px;
    font-size: 24px;
    display: inline-block;
    width: 40px;
    padding: 2px;
    border: 1px solid #30363d;
    text-align: center;
    vertical-align: middle;
    line-height: 1;
    border-radius: 5px;
    background-color: #28313e;
    color: #f1f1f1;
}

#dwnbtn:hover {
    background-color: #414752;
}

#searchok {
    width: 40px;
    margin-left: 5px;
    height: 24px;
}

#searchshow {
    width: 50px;
    margin-left: 5px;
    height: 24px;
    line-height: 18px;
}

th {
    background-color: #414449;
    font-size: 20px;
    padding: 5px 10px;
    color: #c3d3ff
}

td {
    text-align: left;
    border-right: 2px solid #4e4e4e;
    padding: 5px 10px;
    color: #c3d3ff
}

tr:nth-of-type(even) {
    background-color: #1b222b;
}

tr:nth-of-type(odd) {
    background-color: #161B22;
}

table {
    border-collapse: collapse;
    border: 2px solid #555555;
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    table-layout: fixed;
    width: 100%
}

.CodeMirror-sizer {
    padding-top: 5px;
}

.container {
    width: calc(100% - 14px);
    display: grid;
    width: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(60px, max-content));
    grid-gap: 0.3em;
    padding: 5px;
    border: 1px solid #30363D;
    margin: 2px;
    background-color: #30363D;
}

#lastused.container {
    display: none;
    min-height: 40px;
    width: calc(100% - 28px);
}

#lastused.container.show {
    display: block;
}

#lastused.container button#clearbtn {
    cursor: pointer;
    position: absolute;
    right: 8px;
    background-color: #77071D;
    border: 1px solid#40464d;
    padding: 6px 4px;
    border-radius: 5px;
    color: #c3d3ff;
    transform: rotate(90deg);
}

#lastused.container button#clearbtn:hover {
    background-color: #990b28;
}

#lastused .kbdbtn {
    border: 1px solid #555570;
}

.rown {
    height: 20px;
    width: 20px;
}

#radioset label {
    font-size: 19px;
}

.kbdbtn {
    padding: 5px;
    text-align: center;
    cursor: pointer;
    background-color: #161B22;
    color: #95b1ff;
    font-size: 1em;
    border-radius: 5px;
    height: 22px;
    max-width: 65px;
    margin: 2px 3px;
    outline: 1px solid #2e2e4f;
    position: relative;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    letter-spacing: -0.05em;
}

.kbdbtn.searched {
    background-color: yellow;
    color: #4e4e05;
}

.kbdbtn.width {
    text-indent: -4px;
}

.kbdbtn:after {
    content: "";
    background: #001b94;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.7s
}

.kbdbtn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.kbdbtnc {
    padding: 5px;
    text-align: center;
    cursor: pointer;
    background-color: #161B22;
    color: #95b1ff;
    font-size: 1em;
    border-radius: 5px;
    transition: .2s;
    outline: 1px solid #27273a;
}

.fnbtn.kbdbtn.active {
    background-color: #002efd;
}

.kbdbtn.big {
    line-height: 0.9;
}

.kbdbtn:hover {
    background-color: #575e68;
    color: #b4c8ff;
}

.myslick.fn .kbdbtn.help {
    background-color: #fbf0b8;
    color: #323800;
    cursor: help;
}

#spec1.kbdbtn {
    background-color: #77071d;
}

#spec1.kbdbtn:hover {
    background-color: #990b28;
}

#menutglbtn,
#sbtglbtn {
    position: absolute;
    top: 14px;
    background-color: #28313E;
    color: #b4c8ff;
    border: 1px solid #30363D;
    cursor: pointer;
    border: none;
    padding: 5px;
    border-radius: 3px;
    width: 42px;
    font-size: large;
    right: 10px;
}

#menutglbtn {
    left: 10px;
    font-size: 28px;
    line-height: 16px;
    height: 34px;
}

#calctglbtn {
    position: absolute;
    top: 14px;
    background-color: #a0c4f5;
    cursor: pointer;
    border: 1px solid #73a9ee96;
    padding: 2px 0 2px 10px;
    border-radius: 5px;
    width: 32px;
    right: 70px;
}

#menutglbtn:hover,
#sbtglbtn:hover {
    background-color: #3D4C5F
}

#calctglbtn:hover {
    background-color: #7faae6;
}

#settingclose,
#menuclose {
    display: block;
    width: 19px;
    float: right;
    background-color: #bebebe;
    color: #636363;
    border: 1px solid#d8d8d8;
    border-radius: 50%;
    cursor: pointer;
    padding: 3px;
    font-size: 16px;
    line-height: 19px;
}

#settingclose:hover,
#menuclose:hover,
#settingclose:active,
#menuclose:active {
    background-color: #d4d4d4;
    border: 1px solid#666;
}

button.sagecell_evalButton,
button.sagecell_evalButton.ui-button.ui-corner-all.ui-widget {
    background-color: #212E40;
    color: #95b1ff;
    border: 1px solid #30363D;
    width: 65px;
    margin-right: 8px;
}

button.sagecell_evalButton:hover,
button.sagecell_evalButton.ui-button.ui-corner-all.ui-widget:hover {
    background-color: #575e68;
    color: #b4c8ff;
}

h2 {
    color: #007fff;
    text-align: center;
    margin-top: 10px
}

a.vissza {
    margin-left: 20px;
    background-color: #67a2a8;
    border-radius: 50%;
    width: 30px;
    display: inline-block;
    color: #fff0;
    background-image: url("https://cdn.jsdelivr.net/npm/zeynepjs@2.2.0/examples/images/submenu-arrow.svg");
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 8px 14px;
    transform: rotate(90deg);
}

a.vissza:hover {
    transform: scale(1.15) rotate(90deg);
    background-color: #378891;
}

#output {
    display: inline-block;
    min-height: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 2px 10px;
    color: #95b1ff;
    font-size: 18px;
    width: calc(100% - 26px);
    overflow: auto;
    border: 1px solid #30363D;
    margin-top: 5px;
}

button.otherbtn,
button.sample-open {
    background-color: #212E40;
    color: #95b1ff;
    border: 1px solid #30363D;
    font-size: larger;
    border-radius: 4px;
    padding: 0.4em 1em;
    text-decoration: none;
    font-weight: normal;
    font-size: 1.1em;
    vertical-align: middle;
    display: inline-block;
    margin-right: 8px;
    height: 35px;
    cursor: pointer;
}

button.otherbtn * {
    color: #95b1ff;
}

button.otherbtn:hover,
button.sample-open:hover {
    background-color: #575e68;
    color: #b4c8ff;
}

button.sample-open {
    display: inline-block
}

#cm-select {
    display: inline-block;
    width: 180px;
    background-color: #2F3235;
    color: #d1ddff;
    border: none;
    border-bottom: 1px solid #7C8A99;
}


/* Toggleswitch*/

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #1a2d3b;
}

input:focus+.slider {
    box-shadow: 0 0 1px #68a7da;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 50%;
}

.myslick.fn {
    display: none;
}

.myslick.fn.show {
    display: block;
    padding-top: 2px;
    border-top: 2px dotted #375495;
}

#tabs {
    margin: 2px;
}

.slick-dots li button::before {
    color: white!important;
}

.myslick.fn {
    display: none;
    transition: 200
}

.myslick.fn.show {
    display: block;
    padding-top: 6px;
    border-top: 2px dotted #535353;
}

#tabcontainer {
    width: calc(100% - 52px);
    padding: 0 25px;
    padding-top: 4px;
    background-color: #252525;
    border: 1px solid #423030;
    box-shadow: 0px 0px 3px 3px #173b5b8f;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 6px
}

#tabcontainer1,
#tabcontainer2 {
    width: calc(100% 42px);
    padding: 0 25px;
    padding-top: 4px;
    border: 1px solid #423030;
    box-shadow: 0px 0px 2px 2px #173b5b8f;
    text-align: center;
    margin-bottom: 4px;
    border-radius: 6px;
    background-color: #252525;
}

#tabs {
    margin: 2px;
    padding-bottom: 1px;
}

.slick-next::before,
.slick-prev::before {
    color: #95B1EE !important;
    font-size: 28px !important;
}

.slick-prev {
    left: -26px!important;
    height: 28px!important;
    width: 28px!important;
}

.slick-next {
    right: -26px!important;
    height: 28px!important;
    width: 28px!important
}

#myslickhelp .slick-prev {
    top: 12px;
}

#myslickhelp .slick-next {
    top: 12px;
}


/* drilldown*/

div#sample-container {
    display: none;
    padding-top: 3px;
    margin-right: 5px;
}

iframe#samples {
    border: none;
    background-color: #dadbdc
}

iframe#samples.shrinked {
    width: calc(100% - 290px);
    margin-left: 290px
}

@media (max-width: 500px) {
    iframe#samples.shrinked {
        position: sticky;
        margin-left: 0px;
        width: calc(100% - 0px);
    }
}

body {
    left: 0;
}


/* .zeynep-opened body {
    overflow: hidden;
} */

.zeynep {
    right: auto;
    left: 0;
    position: relative;
    height: 0;
}

.zeynep.opened {
    position: fixed;
    height: calc(100% + 0px);
    top: 0;
    bottom: 5px;
    transform: translateX(0) translateZ(0);
}

@media (max-width: 500px) {
    .zeynep.opened {
        margin-left: calc((100% - 295px)*.5)
    }
}

@media (max-width: 500px) {
    .zeynep.opened {
        position: sticky;
    }
}

.zeynep-overlay {
    background-color: #424E8880!important;
}

.lead {
    font-size: 16px;
    line-height: 1.44;
    max-width: 260px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.btn-open {
    border: 0;
    border-radius: 3px;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, .05);
    display: none;
    font-size: 16px;
    font-weight: bold;
    outline: 0;
    padding: 0.4em 1em;
    cursor: pointer;
    font-size: 1.1em;
    vertical-align: middle;
    display: none;
    margin-right:15px;
}

.btn-open.shown {
    display: inline-block;
}

.btn-open:active {
    box-shadow: inset 0 3px 5px 0px rgba(0, 0, 0, .1);
}

.btn-open.first {
    background-color: #001B97;
    color: #f1f1f1;
}


/* zeynepjs menu styles */

.zeynep {
    background-color: #ffffff;
    color: #404143;
    width: 295px;
}

.zeynep ul {
    list-style-type: none;
    padding: 0;
    padding-left: 20px;
    -webkit-overflow-scrolling: touch;
}

.zeynep ul>li {
    display: block;
}

.zeynep ul>li>a {
    color: inherit;
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding: 18px 20px;
    text-decoration: none;
    transition: all 150ms;
    text-decoration: none;
}

.zeynep ul>li>a:hover {
    background-color: #efefef;
    border-radius: 3px;
}

.zeynep ul>li:not(:last-child)>a {
    border-bottom: 1px solid #efefef;
}

.zeynep ul>li.has-submenu>a {
    background-image: url("https://cdn.jsdelivr.net/npm/zeynepjs@2.2.0/examples/images/submenu-arrow.svg");
    background-position: right 20px center;
    background-repeat: no-repeat;
    background-size: 8px 14px;
}

.zeynep ul>li.has-submenu>a:hover {
    background-image: url("https://cdn.jsdelivr.net/npm/zeynepjs@2.2.0/examples/images/submenu-arrow-active.svg");
}

/* zeynep ol */

.zeynep ol {
    padding: 0;
    padding-left: 28px;
    -webkit-overflow-scrolling: touch;
}

.zeynep ol>li>a {
    color: inherit;
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding: 18px 20px;
    transition: all 150ms;
    text-decoration: none;
}

.zeynep ol>li>a:hover {
    background-color: #efefef;
    border-radius: 3px;
}

.zeynep ol>li:not(:last-child)>a {
    border-bottom: 1px solid #efefef;
}

.zeynep ol>li.has-submenu>a {
    background-image: url("https://cdn.jsdelivr.net/npm/zeynepjs@2.2.0/examples/images/submenu-arrow.svg");
    background-position: right 20px center;
    background-repeat: no-repeat;
    background-size: 8px 14px;
}

.zeynep ol>li.has-submenu>a:hover {
    background-image: url("https://cdn.jsdelivr.net/npm/zeynepjs@2.2.0/examples/images/submenu-arrow-active.svg");
}


/* zeynep ol end */

/* zeynepjs submenu styles */

.zeynep .submenu {
    background-color: #ffffff;
    left: 295px;
}

.zeynep .submenu-header {
    background-image: url("https://cdn.jsdelivr.net/npm/zeynepjs@2.2.0/examples/images/menu-back.svg");
    background-position: left 20px center;
    background-repeat: no-repeat;
    background-size: 8px 14px;
    border-bottom: solid 1px #efefef;
    cursor: pointer;
    position: relative;
    opacity: 0.6
}

.zeynep .submenu-header>a {
    color: inherit;
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding: 18px 20px;
    padding-left: 40px;
    text-decoration: none;
}

.zeynep .submenu-header>a:before {
    background-image: url("https://cdn.jsdelivr.net/npm/zeynepjs@2.2.0/examples/images/submenu-arrow.svg");
    background-position: right 20px center;
    background-repeat: no-repeat;
    background-size: 8px 14px;
    content: "";
    height: 100%;
    left: 26px;
    position: absolute;
    top: 0;
    transform: rotate(-180deg);
    width: 20px;
}

.zeynep .submenu>label {
    color: #f1f1f1;
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 13px;
    padding-top: 14px;
    background-color: #001B97;
    padding-left: 10px;
    width: 100%;
    position: sticky;
    top: 0
}

#fnhelp {
    display: none;
    border: 1px solid #aaa;
}

#fnhelp #myslickhelp div.helpdiv {
    background-color: #ffffb1;
    text-align: left;
    padding: 10px;
    max-width: 95%;
}

p.sagemath {
    font-size: large;
    font-weight: bold;
}

#fnhelp iframe {
    display: none;
    background-color: #fffce4;
}

#historydiv {
    border: 1px solid #4c5257;
    background-color: #262d33;
    padding-left: 4px;
    border-radius: 5px;
    margin-top: 5px;
}

ol#historylist {
    padding: 5px 5px 5px 30px;
    max-height: 300px;
    overflow-y: auto;
    margin: 0;
}

ol#historylist li {
    border: 1px solid #bdbdbd;
    margin-bottom: 2px;
    padding: 1px 5px;
    background-color: #d5d5d5b3;
    color: #222;
    border-radius: 3px;
    cursor: pointer;
    margin: 10px 0 0 0;
}

ol#historylist li.lisnap {
    background-color: #ffd5cd;
}

ol#historylist li.lisnap:hover {
    background-color: #f0c4bb;
}

ol#historylist li:hover {
    background-color: #c9c9c9;
}

ol#historylist li::marker {
    color: #c9c9c9;
}

ol#historylist span.hbtn {
    display: inline-block;
    vertical-align: middle;
    height: 22px;
    width: 34px;
    border-radius: 5px;
    border: 1px solid #566161;
    background-color: #5a5e5e1f;
    position: relative;
    left: -36px;
    box-shadow: 0px 0px 5px 2px #796f6f;
    text-decoration: none;
    overflow: hidden;
}

ol#historylist span.hbtn:after {
    content: "";
    background: #7e95ff;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.7s
}

ol#historylist span.hbtn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

ol#historylist li span.hbtn:hover {
    background-color: #ffffff00;
    transform: scale(1.1) translateX(1.7px)
}

ol#historylist span.hbtnclear {
    display: inline-block;
    width: 16px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #566161;
    background-color: #5a5e5e30;
    box-shadow: 0px 0px 5px 1px #796f6faa;
    color: #636363;
    border-radius: 50%;
    cursor: pointer;
    padding: 3px;
    font-size: 14px;
    line-height: 16px;
    margin-left: 10px;
}

ol#historylist li pre {
    margin: 5px 0;
    word-wrap: break-word;
    white-space: pre-wrap;
    display: inline-block;
}

ol#historylist li pre {
    margin: 5px 0;
    word-wrap: break-word;
    white-space: pre-wrap;
    display: inline-block;
}

.toggle-switch-container {
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 4px;
    margin-right: 5px;
}

.toggle-switch {
    margin: 0;
}

.toggle-switch {
    width: 10px;
    position: relative;
}

.toggle-switch input {
    position: absolute;
    top: 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

.toggle-switch input:checked {
    z-index: 1;
}

.toggle-switch .toggle-outside {
    height: 100%;
    border-radius: 10px;
    padding: 2px;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out;
}

.toggle-switch .toggle-inside {
    border-radius: 50%;
    background: #fff;
    position: absolute;
    transition: all 0.3s ease-in-out;
}

.switch-vertical {
    background-color: #00F;
    width: 0px;
    height: 30px;
    margin-left: 27px;
}

.switch-vertical input {
    height: 100%;
    width: 30px;
    right: 0;
    margin: 0;
}

.switch-vertical label {
    font-size: 10px;
    line-height: 10px;
    display: block;
    width: 80px;
    height: 50%;
    margin: 0;
    text-align: left;
    padding-left: 12px;
}

.switch-vertical .toggle-outside {
    background: #ccc;
    position: absolute;
    width: 16px;
    height: 100%;
    right: 0;
    top: 0;
    border: 1px solid #3f4246;
}

.switch-vertical .toggle-inside {
    height: 16px;
    top: 1px;
    width: 16px;
    font-size: 12px;
    text-align: center;
    color: #717171;
    line-height: 16px;
}

.switch-vertical input:checked~.toggle-outside .toggle-inside {
    top: 3px;
}

.switch-vertical input~input:checked~.toggle-outside .toggle-inside {
    top: 16px;
}

div.toggle-switch.switch-vertical input#toggle-a {
    top: 0;
    height: 60%
}

div.toggle-switch.switch-vertical input#toggle-b {
    top: 60%;
    height: 60%
}

span.snapshot {
    display: inline-block;
    width: 28px;
    height: 28px;
    background-color: #ff89a0;
    color: #932727;
    font-size: 28px;
    line-height: 28px;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #c49999;
    border-radius: 50%;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
}

span.snapshot:active,
span.snapshot:hover {
    background-color: #772d2d;
    color: #c21818;
    border: 1px solid #883b3b;
}

button.clrhbtn {
    margin-top: 5px;
    border: 1px solid #576884;
    border-radius: 3px;
    padding: 5px;
    color: #B9CAE6;
    font-weight: 700;
    box-shadow: 0 0 5px 2px #384b55;
    background-color: #212E40;
}

.sagecell_interactContainer {
    position: relative;
    padding: 15px 5px 5px 5px;
    border: 2px solid #67a2a870;
    margin-bottom: 2px;
    width: fit-content;
    min-width: calc(100% - 14px);
}

.sagecell_sliderControl.ui-slider.ui-corner-all.ui-slider-horizontal.ui-widget.ui-widget-content {
    background: #ffffff40;
    border: 1px solid #d3d3d382;
}
