.js-tabs {
    margin: 5px 0;
    max-width: 100%;
}

.js-tabs__header {
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.js-tabs__header li {
    display: block;
    float: left;
}

.js-tabs__title {
    background: #28313E;
    border: 1px solid #30363D;
    cursor: pointer;
    display: block;
    margin-right: 0.5em;
    padding: 0.3em 0.5em;
    transition: all 0.25s;
}

.js-tabs__header li a:link,
.js-tabs__header li a:visited {
    color: #a7abb3;
    text-decoration: none;
}

.js-tabs__title:not(.js-tabs__title-active):hover {
    text-decoration: none;
    color: #dfdfdf;
    background-color: #3d4c5f;
}

.js-tabs__title-active {
    background: #0a4580;
    border-bottom-color: #95c8fb;
    border-top-left-radius: 0.75em;
}

.js-tabs__header li a.js-tabs__title.js-tabs__title-active {
    color: #e6e6e6;
    text-decoration: none;
}

.js-tabs__content {
    border: 1px solid #30363D;
    line-height: 1.5;
    margin-top: -1px;
    padding: 10px 5px 5px 5px;
}