@font-face {
    font-display: "swap";
    font-family: KaTeX_AMS;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/KaTeX_AMS-Regular.woff) format("woff")
}

@font-face {
    font-display: "swap";
    font-family: KaTeX_Caligraphic;
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/KaTeX_Caligraphic-Bold.woff) format("woff")
}

@font-face {
    font-display: "swap";
    font-family: KaTeX_Caligraphic;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/KaTeX_Caligraphic-Regular.woff) format("woff")
}

@font-face {
    font-display: "swap";
    font-family: KaTeX_Fraktur;
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/KaTeX_Fraktur-Bold.woff) format("woff")
}

@font-face {
    font-display: "swap";
    font-family: KaTeX_Fraktur;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/KaTeX_Fraktur-Regular.woff) format("woff")
}

@font-face {
    font-display: "swap";
    font-family: KaTeX_Main;
    font-style: italic;
    font-weight: 700;
    src: url(../fonts/KaTeX_Main-BoldItalic.woff) format("woff")
}

@font-face {
    font-display: "swap";
    font-family: KaTeX_Main;
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/KaTeX_Main-Bold.woff) format("woff")
}

@font-face {
    font-display: "swap";
    font-family: KaTeX_Main;
    font-style: italic;
    font-weight: 400;
    src: url(../fonts/KaTeX_Main-Italic.woff) format("woff")
}

@font-face {
    font-display: "swap";
    font-family: KaTeX_Main;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/KaTeX_Main-Regular.woff) format("woff")
}

@font-face {
    font-display: "swap";
    font-family: KaTeX_Math;
    font-style: italic;
    font-weight: 700;
    src: url(../fonts/KaTeX_Math-BoldItalic.woff) format("woff")
}

@font-face {
    font-display: "swap";
    font-family: KaTeX_Math;
    font-style: italic;
    font-weight: 400;
    src: url(../fonts/KaTeX_Math-Italic.woff) format("woff")
}

@font-face {
    font-display: "swap";
    font-family: "KaTeX_SansSerif";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/KaTeX_SansSerif-Bold.woff) format("woff")
}

@font-face {
    font-display: "swap";
    font-family: "KaTeX_SansSerif";
    font-style: italic;
    font-weight: 400;
    src: url(../fonts/KaTeX_SansSerif-Italic.woff) format("woff")
}

@font-face {
    font-display: "swap";
    font-family: "KaTeX_SansSerif";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/KaTeX_SansSerif-Regular.woff) format("woff")
}

@font-face {
    font-display: "swap";
    font-family: KaTeX_Script;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/KaTeX_Script-Regular.woff) format("woff")
}

@font-face {
    font-display: "swap";
    font-family: KaTeX_Size1;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/KaTeX_Size1-Regular.woff) format("woff")
}

@font-face {
    font-display: "swap";
    font-family: KaTeX_Size2;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/KaTeX_Size2-Regular.woff) format("woff")
}

@font-face {
    font-display: "swap";
    font-family: KaTeX_Size3;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/KaTeX_Size3-Regular.woff) format("woff")
}

@font-face {
    font-display: "swap";
    font-family: KaTeX_Size4;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/KaTeX_Size4-Regular.woff) format("woff")
}

@font-face {
    font-display: "swap";
    font-family: KaTeX_Typewriter;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/KaTeX_Typewriter-Regular.woff) format("woff")
}

@font-face {
    font-display: "swap";
    font-family: FleurCornerCaps;
    font-style: normal;
    font-weight: 400;
    src: url(fleurcornercaps/FleurCornerCaps.ttf) format("truetype")
}