body {
    background-color: #444;
}

body h1,
body h2 {
    color: #f1f1f1;
}

input.inpnumb {
    background-color: inherit;
    color: #0060df;
    color: #df0000;
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom: 1px solid #a8a8a8;
    text-align: center;
    font-size: 18px;
}

.pre-container.show {
    display: inline-block;
    margin: 8px;
    /*background-color: #e3eaea;*/
    color: #394B75;
    font-size: 12px;
    padding: 5px 10px;
    border: 1px solid #e1e1e1;
}

.pre-container {
    display: none;
}

button.sendbtn {
    display: inherit;
    font-size: 22px;
    position: relative;
    bottom: -75px;
    left: 15px;
    background-color: #6D778E;
    color: #f1f1f1;
    box-shadow: 0px 2px 5px 5px #b3bfbb59;
    border: 1px solid aliceblue;
    border-radius: 5px;
    cursor: pointer;
}

button.sendbtn.noback {
    bottom: -15px;
}

button.sendbtn:hover,
button.sendbtn.noback:hover {
    transform: scale(1.15);
    background-color: #5f6983;
}

button.vissza {
    display: inherit;
    position: relative;
    bottom: -45px;
    left: 65px;
    box-shadow: 0px 2px 5px 5px #b3bfbb59;
    border: 1px solid aliceblue;
    cursor: pointer;
    background-color: #67a2a8;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: #fff0;
    background-image: url("https://cdn.jsdelivr.net/npm/zeynepjs@2.2.0/examples/images/submenu-arrow.svg");
    background-position: right 9px center;
    background-repeat: no-repeat;
    background-size: 8px 14px;
    transform: rotate(-90deg);
}

button.vissza:hover {
    transform: scale(1.15) rotate(-90deg);
    background-color: #48868d;
}

button.showpre {
    display: inherit;
    position: relative;
    bottom: -15px;
    left: 116px;
    box-shadow: 0px 2px 5px 5px #b3bfbb59;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    cursor: pointer;
    background-color: #99756a;
    width: 80px;
    height: 30px;
    color: #f0f0f0;
}

button.showpre:hover {
    transform: scale(1.15);
    background-color: #8b6356
}

button.showpre.hide {
    background-color: #67a872;
}

button.showpre.hide:hover {
    transform: scale(1.15);
    background-color: #479254;
}

div#precover {
    display: none;
}

span.showprecontainer {
    font-size: 18px;
    position: relative;
}

pre {
    margin: 5px 0;
    word-wrap: break-word;
    white-space: pre-wrap;
}

p.kijelzo {
    margin-bottom: 5px;
    max-width: calc(100vw);
    overflow: auto;
    padding: 5px 20px;
    background-color: #f1f1f1;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    font-size: 130%;
}

p.kijelzo.tomor {
    margin-bottom: 2px;
    margin-top: 2px;
}

div.keret {
    border: 1px solid #bebebe;
    margin-bottom: 20px;
    border-radius: 10px;
    min-width: min-content;
    padding-bottom: 20px;
}

div.keret.active {
    outline: 3px solid #f00;
    outline-offset: -4px;
}

div.keret.of {
    overflow: auto;
    min-width: unset;
}

div.keret.odd {
    background-color: #f5fff9;
    box-shadow: 0px 0px 10px 3px #6b77aa;
}

div.keret.even {
    background-color: #fff1f1;
    box-shadow: 0px 0px 10px 3px #eea8a8;
}

div.keret.odd .pre-container {
    background-color: #e8f2f2;
}

div.keret.even .pre-container {
    background-color: #ffe5e5;
}

p.keplet {
    margin-top: 0;
    margin-bottom: -76px;
    padding: 5px 10px;
    font-size: 130%
}

p.keplet.fixw {
    max-width: calc(100vw - 10px);
}

p.keplet.noback {
    margin-bottom: -0px;
}

div.keret.odd p.keplet {
    background-color: #ddeee8;
    outline: 2px solid #c0c9d0;
    outline-offset: -6px;
    min-width: max-content;
}

div.keret.even p.keplet {
    background-color: #ffe4e4;
    outline: 2px solid #ffbfbf;
    outline-offset: -6px;
    min-width: max-content;
}

big.sorszam {
    margin-left: 10px
}

.switch.k {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 28px;
    bottom: 4px;
}

.slider.k:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider.round {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #54738b;
}

input:checked+.slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

button.otherbtn {
    border: 1px solid #d3d3d3;
    font-size: larger;
    border-radius: 4px;
    padding: 0.4em 1em;
    color: #555;
    text-decoration: none;
    background-color: #c1c4d2;
    font-weight: normal;
    font-family: Verdana, Arial, sans-serif;
    font-size: 1.1em;
    vertical-align: middle;
    display: inline-block;
    margin-right: 8px;
}

.dynamic {
    color: red;
}

.MathJax_Display {
    margin: 20px 0 10px 0 !important;
}

.inputdiv {
    height: 150px;
    padding: 20px 20px 0 20px;
    outline: 2px solid #c0c9d0;
    outline-offset: -6px;
    background-color: #eee;
    width: max-content;
}

.outputdiv {
    padding: 10px;
    outline: 2px solid #c3d0c0;
    outline-offset: -6px;
    background-color: #e0ebe0;
}

.outputoutdiv {
    padding: 4px;
    /* outline: 2px solid #d0d0c0;
    outline-offset: -2px; */
    background-color: #fff;
    margin-bottom: 5px;
}

#ideout {
    width: 100%
}

input::-webkit-inner-spin-button {
    appearance: auto;
    display: inline-block;
    cursor: pointer;
    align-self: stretch;
    opacity: 1!important;
    pointer-events: all!important;
    -webkit-user-modify: read-only !important;
    flex: 0 0 auto;
}

b.kiur {
    color: #ff0000;
    background-color: #ffe8e8;
    outline: 1px solid #f3bec3;
}

button.showpre1 {
    box-shadow: 0px 2px 5px 5px #b3bfbb59;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    cursor: pointer;
    background-color: #99756a;
    width: 80px;
    height: 30px;
    color: #f0f0f0;
    margin-right: 5px;
    margin-left: 5px;
}

button.showpre1:hover {
    transform: scale(1.15);
    background-color: #8b6356
}

#sbtglbtn,
#sbtglbtn2,
#tukroz {
    background-color: #e6e6e6;
    color: #636363;
    cursor: pointer;
    border: 1px solid #d8d8d8;
    padding: 5px;
    border-radius: 3px;
    height: 30px;
    width: 30px;
    margin-right: 5px;
    font-size: 20px;
    line-height: 0.6;
    vertical-align: middle;
}

#setsForma {
    background-color: #e6e6e6;
    color: #636363;
    cursor: pointer;
    border: 1px solid #d8d8d8;
    padding: 5px;
    border-radius: 3px;
    height: 30px;
    margin-right: 5px;
}

#linit {
    cursor: pointer;
    padding: 2px 6px;
    border: 1px solid #cecece;
    border-radius: 3px;
    cursor: pointer;
}

#linit:hover {
    border: 1px solid #a3a3a3;
    background-color: #dddddd;
}

svg.function-plot {
    border: 1px solid #9ab4be;
    background-color: #eaf7f6
}

svg.function-plot text.title,
svg.function-plot text.top-right-legend {
    font-size: 20px;
}

span.hr {
    color: #4e8fc7;
    font-size: 110%;
    font-weight: 800;
}

#Hacom sup small {
    margin-left: -6px;
}

span.outhiba {
    border: 1px solid;
    padding: 2px 5px;
    font-weight: 800;
    color: red;
    background-color: #ffd6d6
}

#helpbar0 {
    padding: 10px;
    background-color: #fffae9;
    color: rgb(53, 71, 29);
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 5px;
    border-radius: 5px;
}

#helpbar0 ul li {
    margin: 5px 2px;
}

table.genout-fej,
table.genout-sor {
    display: inline-table;
    background-color: #cfe7ea;
    padding: 3px;
    border-radius: 3px;
    border: 1px solid #b9c8d5;
    margin-bottom: 16px;
}

table.genout-sor tr td.sep {
    border-bottom: 1px solid #b7c5c7;
}

table.genout-sor tr td .bsorh {
    color: #bb0909;
}

table.genout-sor.zztbl {
    outline: 2px solid red;
}

table.genout-fej {
    font-size: 80%;
    color: #449bd1;
    background-color: #e9e9e9;
     text-align: center;
}

table.genout-sor tr:first-child td {
    text-align: center;
    background-color: #b4d2d2;
}

table.genout-nyil {
    display: inline-table;
    margin-right: 10px;
    margin-left: 10px;
}

table.genout-nyil tr td {
    font-size: calc(max(60%, 12px));
    text-align: center;
}

table.genout-nyil tr td.tdeloj {
    background-color: #9ee844;
    border-radius: 50%;
    padding: 3px 1px;
}

div.meret {
    font-size: 80%;
    border-bottom: 1px solid #d6e6e6;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

#mshout div.meret {
    border-bottom: 1px solid #ddc7c7;
}

::highlight(search-results) {
    background-color: #f06;
    color: white;
}

td input.malpha {
    width: 50px;
    border: none;
    border-bottom: 1px solid #b3b3b3;
    background: inherit;
    text-align: center;
    height: 22px;
    color: #777777;
    font-weight: 800;
    font-size: 14px;
}

td input.mvec {
    width: 46px;
    height: 22px;
    border-right: 3px solid #444444;
    border-left: 3px solid #444444;
    border-top: none;
    border-bottom: none;
    border-radius: 7px;
    text-align: center;
    background-color: inherit;
    font-size: 16px;
}

td.msep {
    font-size: 140%;
    line-height: 1;
}

span.bzj {
    font-size: larger;
    font-weight: 800;
    vertical-align: baseline;
}

input.inpvec {
    width: 160px;
    height: 22px;
    border-right: 3px solid #444444;
    border-left: 3px solid #444444;
    border-top: none;
    border-bottom: none;
    border-radius: 7px;
    text-align: center;
    background-color: inherit;
    font-size: 16px;
    vertical-align: baseline;
}

table thead tr th span.tsorszam {
    font-size: 12px;
    text-align: center;
    display: inline-block;
    width: 21.36px;
}

table tr th span.tsorszam-n,
table tr th span.tsorszam-e,
table tr th span.tsorszam-s,
table tr th span.tsorszam-w {
    font-size: 12px;
    text-align: center;
    display: inline-block;
    width: 21.36px;
    visibility: hidden;
    vertical-align: middle;
}

table tr th span.tsorszam-fix {
    font-size: 12px;
    text-align: center;
    display: inline-block;
    width: 21.36px;
    visibility: hidden;
    vertical-align: middle;
    color: #7c7c7c
}

.tsorszam-s.hl,
.tsorszam-w.hl {
    background-color: #f0cccc;
    box-shadow: 0 0 10px 5px #d7b8b8;
}

#derivT table tr th {
    text-align: center;
}

#derivT table tr th.hl {
    border-top: 1px solid
}

table tr td span.tgomb {
    cursor: pointer;
}

table tr#J_sora td span.tgomb {
    cursor: pointer;
    padding: 0 6px;
}

table tr td span.tgomb.illesztoveg {
    border-bottom: 1px solid #222;
    border-right: 1px solid #222;
}

table tr td span.tgomb.illesztokezd {
    border-left: 1px solid #222;
    border-top: 1px solid #222;
}

table tr td span.tgomb.ori {
    color: #c7c6d9;
}

table tr td span.tgomb.szelso {
    content: '&#x25A1;';
}

table tr#J_sora.active {
    background-color: #f4d7d7;
}

table tr td span.tgomb:hover {
    color: #999;
}

#rfbJ table tr td span.tgomb.hl.hlmove {
    border-top: none;
}

#rfbJ table tr td span.tgomb.hl {
    border-top: 2px solid #ff3232;
    color: #d30000;
}

p.kijelzo:not(#rfbJ) table tr td span.tgomb.hl {
    color: #d30000;
}

table tr#c_sora.active {
    background-color: #cbf7b7;
}

table tr#J_sora.error,
table tr#c_sora.error {
    color: red;
}

table tr.derivlast td {
    color: red;
}

table tr td.derivkezd {
    font-size: 18px;
}

table tr td.derivkezd span {
    font-size: 14px;
    vertical-align: middle;
}

table tr td input.cinput {
    width: 25px;
    text-align: center;
    border: 1px solid #adadad;
    background-color: #ececec;
    font-size: inherit;
}

table tr#c_sora.active td input.cinput {
    width: 25px;
    text-align: center;
    border: 1px solid #63b169;
    background-color: #c0e1b7;
    font-size: inherit;
}

table tr#c_sora.error td input.cinput {
    color: red;
}

table tr#J_sora td#fdiff,
table tr#c_sora td#sumdiff {
    text-align: center;
    font-size: 16px;
}

table tr#J_sora td#fdiff.diff,
table tr#c_sora td#sumdiff.sdiff {
    border-radius: 5px;
    border: 3px solid red
}

table thead tr th.cindh,
table thead tr th.cdbindh {
    border: 1px solid #aaa;
    background-color: #dde9f3;
    padding: 0 5px;
    cursor: pointer;
}

table thead tr th.cindh.cindred {
    border: 1px solid #ea8585;
    box-shadow: 0px 0px 10px 3px #eea8a8;
}

table thead tr th.cdbindh.cindred {
    border: 1px solid #2eae1b;
    box-shadow: 0px 0px 10px 3px #87d5a1;
}

#c_index.statactive {
    box-shadow: 0px 0px 10px 3px #dd9790;
    background-color: #f4eaea;
}

#c_indexstat.statactive {
    box-shadow: 0px 0px 10px 3px #8cc168;
    background-color: #cbf7b7;
}

button.kiemelo {
    margin: 5px 0 15px 5px;
    color: #550000;
    font-size: 16px;
    border: 1px solid #dadada;
    padding: 3px 5px;
}

table#pqntbl {
    border-spacing: 3px;
    background-color: #dbdbdb;
    min-width: max-content;
}

table#pqntbl td {
    border: 1px solid #cacaca;
    text-align: center;
    background-color: #e5ecec;
    padding: 3px 5px;
    cursor: pointer;
    border-radius: 4px;
    user-select: none;
    min-width: 50px;
}

table#pqntbl td.active {
    background-color: #c1d1d1;
    border-color: #b5b5b5;
    box-shadow: 0px 0px 5px 5px #abe1d587;
}

table#pqntbl table.tort td {
    border-bottom: 1px solid #000000;
    background-color: #e5ecec;
    user-select: none;
}

#plotpqn svg.function-plot text.title,
#plotpqn svg.function-plot text.top-right-legend {
    font-size: 16px;
}
#plotpqn svg.function-plot .canvas .content g.graph path.kiemelt {
    stroke-width: 5px;
    filter: blur(2px);
}

#tsout span.allpqn {
    display: inline-block;
    padding: 10px 5px;
    border: 1px solid transparent;
}

#tsout span.allpqn.kiemelt {
    background-color: #ffffc3;
    border-color: black;
}

table#Cpqntbl {
    min-width: max-content;
}

table#Cpqntbl th,
table#rStbl td {
    border: 1px solid #d2d2d2;
    text-align: center;
    background-color: #e5ecec;
    padding: 3px 5px;
    cursor: pointer;
    border-radius: 4px;
    user-select: none;
    min-width: 50px;
}

table#rStbl td.colhl,
table#rStbl tr.rowhl td {
    background-color: #dddcca;
}

table#rStbl td.rstb:not(.colh) {
    background-color: #bdbdbd;
    border: 1px solid #8c8c8c;
}

table.stable {
    border-collapse: collapse;
}

table.stable th,
table.stable td {
    border: 1px solid #bbb;
    padding: 5px;
    text-align: center;
}

#tsout hr {
    border-color: #ececec;
}

#tsout th {
    background-color: #e8e8e8;
}

#tsout span.fsor {
    border: 1px solid #bbb;
    display: inline-block;
    padding: 5px 10px;
    background-color: #fffec4;
    margin-top: 7px;
}

#pzout sub,
#pzoutr sub {
    font-size: 70%;
    vertical-align: -40%;
}

#pzout sup,
#pzoutr01 sup {
    font-size: 70%;
    margin-left: -0.5em;
}

#pqn01out #pzoutr01 {
    width: 80vw;
}

#pzout span.pzjelento,
#pqn01out span.pzjelento,
#xnlout span.pzjelento {
    cursor: pointer;
    padding: 5px 0;
    letter-spacing: 0.05em;
}

#pzout span.pzjelento:hover,
#pqn01out span.pzjelento:hover,
#xnlout span.pzjelento:hover {
    color: #205cff;
    background-color: #dae4ff
}

.sqrt-prefix {
    display: -moz-inline-box!important;
    display: inline-block!important;
    padding-top: 0;
    position: relative;
    /*border-top: 1px solid transparent;*/
    top: -0.6em;
    line-height: inherit;
    vertical-align: top;
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    -o-transform-origin: top;
    transform-origin: top;
    font-family: 'Symbola', Times, serif!important;
}

.block sub.sdefint {
    display: -moz-inline-box!important;
    display: inline-block!important;
    padding-top: 0;
    position: relative;
    vertical-align: bottom;
    bottom: -1.3em;
}

.block sup.sdefint {
    display: -moz-inline-box!important;
    display: inline-block!important;
    padding-top: 0;
    position: relative;
    vertical-align: top;
    bottom: 1.45em;
}

.fraction {
    display: -moz-inline-box!important;
    display: inline-block!important;
    font-size: 90%;
    text-align: center;
    vertical-align: -.5em;
    padding: 0 .2em
}

.fraction,
x:-moz-any-link {
    display: -moz-groupbox
}

.fraction,
x:-moz-any-link,
x:default {
    display: inline-block
}

.numerator,
.denominator {
    display: block
}

.numerator {
    padding: .1em
}

.denominator {
    border-top: 1px solid;
    float: right;
    width: 100%;
    padding: .1em .1em 0
}

.block {
    display: -moz-inline-box!important;
    display: inline-block!important;
}

table#pqnrtbl {
    margin: 10px;
    border-collapse: collapse;
    min-width: max-content;
}

table#pqnrtbl tr td {
    text-align: center;
    padding: 1px 2px;
    min-width: max-content;
}

table#pqnrtbl td.sorkezdo {
    text-align: center;
    border-right: 2px solid black;
    border-left: 2px solid black;
    padding: 5px;
    font-weight: 800;
}

table#pqnrtbl tr:first-child th:first-child {
    border-right: 1px solid;
}

table#pqnrtbl tr:first-child th {
    border-bottom: 1px solid;
}

#pzoutr sup.binh {
    font-size: 80%;
    vertical-align: top;
    position: relative;
    left: 0.3em;
    top: -0.5em;
    margin-right: 5px;
}

#pzoutr sup.binh1 {
    font-size: 80%;
    vertical-align: top;
    position: relative;
    left: 0.45em;
    top: -0.4em;
    margin-right: 5px;
}

#pzoutr sup.binh2 {
    font-size: 80%;
    vertical-align: top;
    position: relative;
    left: 0.25em;
    top: -0.2em;
    margin-right: 2px;
}

#pzoutr sup.binh4 {
    font-size: 80%;
    vertical-align: top;
    position: relative;
    left: 0.55em;
    margin-right: 5px;
}

#pzoutr sup.binh5 {
    font-size: 80%;
    vertical-align: top;
    position: relative;
    left: 0.4em;
    margin-right: 5px;
    top: 0.35em;
    line-height: 0px;
}

#pzoutr span.tblpr {
    vertical-align: -0.85em;
}

#pzoutr span.tblpr1 {
    vertical-align: -0.15em;
}

.pzjelento.monom-active {
    box-shadow: 0 0 10px 5px #c6c6c6;
}

#pzoutr {
    display: block;
    outline: 2px solid #d6d4b9;
    outline-offset: -2px;
    background-color: #e8e8e8;
    margin: 5px 0;
    padding: 7px;
    font-size: inherit;
    max-width: calc(100vw);
    overflow: auto;
}

#nyil {
    margin-left: 5px;
    color: #2d2d2d;
    font-size: 140%;
    vertical-align: middle;
}

#pqn01out table#pqnrtbl {
    margin: 10px;
    border-collapse: collapse;
    min-width: max-content;
}

.int01jelento.monom-active {
    box-shadow: 0 0 10px 5px #c6c6c6;
    box-shadow: inset 0 0 10px 5px #54babf;
}

#int01nyil {
    margin-left: 5px;
    color: #2d2d2d;
    font-size: 140%;
    vertical-align: middle;
}

#pzoutr sup.binh6 {
    margin-left: -0.5em;
}

table.fpntbl,
table.fpntblc {
    height: 100%;
    width: 100%;
    min-width: max-content;
    min-height: max-content;
    border: 1px solid #303030;
}

table.fpntblc td {
    cursor: pointer;
}

table.fpntbl td.fpnact {
    background-color: #d7e9ea;
    border: 1px solid #000000!important;
}

table.fpntbl td.fpnact1 {
    background-color: #f2f2bc;
    border: 1px solid #000000!important;
}

table.fpntblc td.fpnact {
    background-color: #eeccb9;
    border: 1px solid #c73a3a!important;
}

table.fpntblc td.fpnact2 {
    background-color: #d7e9ea;
    border: 1px solid #000000!important;
}

table.fpntbl.szorzotbl td.fpnact3 {
    background-color: #fff3e8;
}

table.fpntbl.hszorzotbl td.fpnact3 {
    background-color: #dae4ff;
}

#fpnoutsor span.parenfpn {
    transform: scaleY(2.3);
    display: inline-block;
    transform-origin: center;
}

#fpnoutsor span.parenfpn {
    transform: scaleY(2.3);
    display: inline-block;
    transform-origin: center;
}

#xnlout sub.xlns {
    vertical-align: -0.5em;
    font-size: 80%;
}

#xnlout sub.xlns1 {
    vertical-align: -0.5em;
    font-size: 80%;
    margin-left: -0.4em;
}

#xnlout span.paren {
    transform: scaleY(1.4);
    display: inline-block;
    transform-origin: center;
    padding: 0 2px;
}

#xnlout span.paren1 {
    transform: scaleY(2.2);
    display: inline-block;
    transform-origin: center;
    padding: 0 2px;
}


.id1.hl {
    color: red;
}

.id2.hl {
    color: #001aff;
}

.allid.hl {
    color: #ffe5e5;
    background: #f732b3;
    border-radius: 0.5em;
    padding: 2px 0;
}

.allid.conj {
    color: #f732b3;
    background: #ffe5e5;
    border-radius: 0.5em;
    padding: 2px 0;
}

.allid.cfiner {
    border-bottom: 2px solid #ffaeae;
    border-top: 2px dotted #060606;
}

.allid.ckoveto {
    border-bottom: 6px double #ffaeae;
    border-top: 2px dotted #060606;
}

.allid.ccoarser {
    border-bottom: 2px solid #9c9cff;
    border-top: 2px dotted #060606;
}

.allid.celozo {
    border-bottom: 6px double #9c9cff;
    border-top: 2px dotted #060606;
}

#sf_show .id1.finer,
.allid.finer {
    border-bottom: 2px solid red;
}

.allid.koveto {
    border-bottom: 6px double red;
}

.allid.coarser {
    border-bottom: 2px solid blue;
}

.allid.elozo {
    border-bottom: 6px double blue;
}

.allcdiv {
    border: 1px solid #b7b7dd;
    border-radius: 4px;
    padding: 0 5px;
    background-color: #e5ebf7;
    margin-bottom: 5px;
}

table#calltbl {
    min-width: max-content;
    min-height: max-content;
}

table#calltbl tr td {
    padding: 3px 5px;
    font-size: 120%;
    text-align: center;
}

.chalv {
    opacity: 0.4;
    font-size: smaller;
}

.cintkeplet {
    border: 1px solid #c1cfec;
    padding: 0 10px;
    margin-left: 4em;
    background-color: #fff;
    text-align: center;
    font-size: 70%;
}

.xnLi,
.xnLe,
.xnLii,
.xnLix {
    cursor: pointer;
}

.xnLi.hl {
    background-color: #bdcfe1;
    box-shadow: 0 0 10px 5px #d4e0bc;
    padding: 5px 0px;
}

.xnLe.hl,
.xnLii.hl,
.xnLix.hl {
    background-color: #e1c7bd;
    box-shadow: 0 0 10px 5px #e0c6bc;
    padding: 5px 0px;
}

.pzoutblock {
    display: inline-block;
}

.pznext {
    background-color: #fffcd0;
    box-shadow: 0 0 10px 5px #fff0e0;
}

.zLi {
    visibility: hidden;
    width: 35px;
    font-size: 70%;
}

.zLi.shown {
    visibility: visible;
}

#burkolo {
    pointer-events: all;
    filter: none;
    background-color: transparent;
    margin-bottom: -20px;
}

#burkolo.on {
    pointer-events: none;
    filter: blur(3px) contrast(0.7);
    background-color: #BDB9B9;
}

#jelento {
    background-color: #0a29a6;
    color: rgb(241, 241, 241);
    text-align: center;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    width: 97.1vw;
    display: inline-block;
    position: relative;
    top: -10px;
    visibility: hidden;
    padding: 10px 0;
    margin-bottom: -20px;
}

#jelento.on {
    visibility: visible;
}

#szamitofelhivas {
    background-color: #0a29a6;
    color: rgb(241, 241, 241);
    text-align: center;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    width: 100vw;
    display: inline-block;
    position: relative;
    top: -10px;
    display: none;
    padding: 10px 0;
    margin-bottom: -20px;
}

#szamitofelhivas.on {
    display: inline-block;
}

#nyiltbl {
    display: inline-block;
    vertical-align: middle;
    width: 1.8em;
    height: 1.8em;
    font-size: 1.8em;
    margin-left: 20px;
    background-color: #ffdad6;
    padding: 0 10px;
    border-radius: 3px;
    border: 1px solid #e1b1b1
}

span.kartyabtn {
    padding: 2px 5px;
    background-color: #eeeea3;
    border: 1px solid #ddcebd;
    border-radius: 4px;
    cursor: pointer;
}

span.kartyabtn:hover {
    background-color: #d4d47b;
    border: 1px solid #cfbeaa;
}

span.kephook {
    font-family: Symbola;
    padding: 2px 5px;
    background-color: #f3f3d1;
    border: 1px solid #ddcebd;
    border-radius: 4px;
    pointer-events: none;
    margin-top: 5px;
    display: inline-block;
}

span.kephook * {
    pointer-events: none;
}

div#kepek {
    font-family: Symbola;
    display: none;
    margin-top: 10px;
    padding: 5px;
    background-color: #333;
    max-width: calc(100vw);
    overflow: auto;
}

#outnm span.paren,
#outfb span.paren {
    transform: scale(1.2, 1.5);
    display: inline-block;
    transform-origin: center;
    padding: 0 2px;
    font-weight: 800;
}

#outfb span.cc {
    /*display: inline-block;*/
    color: #e6e4d1;
    background-color: #5e5e5e;
    transform-origin: center;
    padding: 3px 4px 7px 4px;
    font-weight: 800;
    outline: 1px solid #5e5e5e;
    outline-offset: 1px;
    border-radius: 5px;
    margin-right: 4px;
}

#rfbT table tr td span.tgomb {
    user-select: none;
}

#rfbT table tr td span.tgomb.hlLn {
    color: #456ab9;
}

#rfbT table tr td span.tgomb.no {
    visibility: hidden;
}

#rfbT table tr td span.tgomb.hlLi {
    color: #cca33c;
    opacity: 0.35;
}

#rfbT table tr td span.tgomb.ye {
    visibility: visible;
    color: #cca33c;
    opacity: 0.3;
}

#rfbT table tr td span.tgomb.sel {
    opacity: 1;
}

#rfbT .tsorszam-s.ln {
    visibility: visible;
    border-left: 1px solid;
    color: blue
}

#rfbT table tr td span.tgomb.move {
    outline: 1px dotted #818181;
    outline-offset: 2px;
}

#rfbT table tr td span.tgomb.hl {
    border-top: 2px solid #ff3232;
    color: #d30000;
}

#rfbT table tr td span.tgomb.hl.hlmove {
    border-top: none;
}

#rfbT #binomkijelzo {
    background-color: inherit;
    font-size: 60%;
    height: 55px;
    padding: 0 10px;
    margin-left: 4em;
    text-align: center;
}

