body {
    background-color: #444;
}

body h1,
body h2 {
    color: #f1f1f1;
}

input.inpnumb {
    background-color: inherit;
    color: #0060df;
    color: #df0000;
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom: 1px solid #a8a8a8;
    text-align: center;
    font-size: 18px;
}

.pre-container.show {
    display: inline-block;
    margin: 8px;
    /*background-color: #e3eaea;*/
    color: #394B75;
    font-size: 12px;
    padding: 5px 10px;
    border: 1px solid #e1e1e1;
}

.pre-container {
    display: none;
}

button.sendbtn {
    display: inherit;
    font-size: 22px;
    position: relative;
    bottom: -75px;
    left: 15px;
    background-color: #6D778E;
    color: #f1f1f1;
    box-shadow: 0px 2px 5px 5px #b3bfbb59;
    border: 1px solid aliceblue;
    border-radius: 5px;
    cursor: pointer;
}

button.sendbtn.noback {
    bottom: -15px;
}

button.sendbtn:hover,
button.sendbtn.noback:hover {
    transform: scale(1.15);
    background-color: #5f6983;
}

button.vissza {
    display: inherit;
    position: relative;
    bottom: -45px;
    left: 65px;
    box-shadow: 0px 2px 5px 5px #b3bfbb59;
    border: 1px solid aliceblue;
    cursor: pointer;
    background-color: #67a2a8;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: #fff0;
    background-image: url("https://cdn.jsdelivr.net/npm/zeynepjs@2.2.0/examples/images/submenu-arrow.svg");
    background-position: right 9px center;
    background-repeat: no-repeat;
    background-size: 8px 14px;
    transform: rotate(-90deg);
}

button.vissza:hover {
    transform: scale(1.15) rotate(-90deg);
    background-color: #48868d;
}

button.showpre {
    display: inherit;
    position: relative;
    bottom: -15px;
    left: 116px;
    box-shadow: 0px 2px 5px 5px #b3bfbb59;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    cursor: pointer;
    background-color: #99756a;
    width: 80px;
    height: 30px;
    color: #f0f0f0;
}

button.showpre:hover {
    transform: scale(1.15);
    background-color: #8b6356
}

button.showpre.hide {
    background-color: #67a872;
}

button.showpre.hide:hover {
    transform: scale(1.15);
    background-color: #479254;
}

div#precover {
    display: none;
}

span.showprecontainer {
    font-size: 18px;
    position: relative;
}

pre {
    margin: 5px 0;
    word-wrap: break-word;
    white-space: pre-wrap;
}

p.kijelzo {
    margin-bottom: 5px;
    max-width: calc(100vw);
    overflow: auto;
    padding: 5px 20px;
    background-color: #f1f1f1;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
}

p.kijelzo.tomor {
    margin-bottom: 2px;
    margin-top: 2px;
}

div.keret {
    border: 1px solid #bebebe;
    margin-bottom: 20px;
    border-radius: 10px;
    min-width: min-content;
    padding-bottom: 20px;
}

div.keret.active {
    outline: 3px solid #f00;
    outline-offset: -4px;
}

div.keret.of {
    overflow: auto;
    min-width: unset;
}

div.keret.odd {
    background-color: #f5fff9;
    box-shadow: 0px 0px 10px 3px #6b77aa;
}

div.keret.even {
    background-color: #fff1f1;
    box-shadow: 0px 0px 10px 3px #eea8a8;
}

div.keret.odd .pre-container {
    background-color: #e8f2f2;
}

div.keret.even .pre-container {
    background-color: #ffe5e5;
}

p.keplet {
    margin-top: 0;
    margin-bottom: -76px;
    padding: 5px 10px;
}

p.keplet.fixw {
    max-width: calc(100vw - 10px);
}

p.keplet.noback {
    margin-bottom: -0px;
}

div.keret.odd p.keplet {
    background-color: #ddeee8;
    outline: 2px solid #c0c9d0;
    outline-offset: -6px;
    min-width: max-content;
}

div.keret.even p.keplet {
    background-color: #ffe4e4;
    outline: 2px solid #ffbfbf;
    outline-offset: -6px;
    min-width: max-content;
}

big.sorszam {
    margin-left: 10px
}

.switch.k {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 28px;
    bottom: 4px;
}

.slider.k:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider.round {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #54738b;
}

input:checked+.slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

button.otherbtn {
    border: 1px solid #d3d3d3;
    font-size: larger;
    border-radius: 4px;
    padding: 0.4em 1em;
    color: #555;
    text-decoration: none;
    background-color: #c1c4d2;
    font-weight: normal;
    font-family: Verdana, Arial, sans-serif;
    font-size: 1.1em;
    vertical-align: middle;
    display: inline-block;
    margin-right: 8px;
}

.dynamic {
    color: red;
}

.MathJax_Display {
    margin: 20px 0 10px 0 !important;
}

.inputdiv {
    height: 150px;
    padding: 20px 20px 0 20px;
    outline: 2px solid #c0c9d0;
    outline-offset: -6px;
    background-color: #eee;
    width: max-content;
}

.outputdiv {
    padding: 10px;
    outline: 2px solid #c3d0c0;
    outline-offset: -6px;
    background-color: #e0ebe0;
}

.outputoutdiv {
    padding: 4px;
    /* outline: 2px solid #d0d0c0;
    outline-offset: -2px; */
    background-color: #fff;
    margin-bottom: 5px;
}

#ideout {
    width: 100%
}

input::-webkit-inner-spin-button {
    appearance: auto;
    display: inline-block;
    cursor: pointer;
    align-self: stretch;
    opacity: 1!important;
    pointer-events: all!important;
    -webkit-user-modify: read-only !important;
    flex: 0 0 auto;
}

b.kiur {
    color: #ff0000;
    background-color: #ffe8e8;
    outline: 1px solid #f3bec3;
}

button.showpre1 {
    box-shadow: 0px 2px 5px 5px #b3bfbb59;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    cursor: pointer;
    background-color: #99756a;
    width: 80px;
    height: 30px;
    color: #f0f0f0;
    margin-right: 5px;
    margin-left: 5px;
}

button.showpre1:hover {
    transform: scale(1.15);
    background-color: #8b6356
}

#sbtglbtn,
#sbtglbtn2,
#tukroz {
    background-color: #e6e6e6;
    color: #636363;
    cursor: pointer;
    border: 1px solid #d8d8d8;
    padding: 5px;
    border-radius: 3px;
    height: 30px;
    width: 30px;
    margin-right: 5px;
    font-size: 20px;
    line-height: 0.6;
    vertical-align: middle;
}

#setsForma {
    background-color: #e6e6e6;
    color: #636363;
    cursor: pointer;
    border: 1px solid #d8d8d8;
    padding: 5px;
    border-radius: 3px;
    height: 30px;
    margin-right: 5px;
}

#linit {
    cursor: pointer;
    padding: 2px 6px;
    border: 1px solid #cecece;
    border-radius: 3px;
    cursor: pointer;
}

#linit:hover {
    border: 1px solid #a3a3a3;
    background-color: #dddddd;
}

svg.function-plot {
    border: 1px solid #9ab4be;
    background-color: #eaf7f6
}

svg.function-plot text.title,
svg.function-plot text.top-right-legend {
    font-size: 20px;
}

span.hr {
    color: #4e8fc7;
    font-size: 110%;
    font-weight: 800;
}

#Hacom sup small {
    margin-left: -6px;
}

span.outhiba {
    border: 1px solid;
    padding: 2px 5px;
    font-weight: 800;
    color: red;
    background-color: #ffd6d6
}

#helpbar0 {
    padding: 10px;
    background-color: #fffae9;
    color: rgb(53, 71, 29);
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 5px;
    border-radius: 5px;
}

#helpbar0 ul li {
    margin: 5px 2px;
}

table.genout-fej,
table.genout-sor {
    display: inline-table;
    background-color: #cfe7ea;
    padding: 3px;
    border-radius: 3px;
    border: 1px solid #b9c8d5;
    margin-bottom: 16px;
}

table.genout-sor tr td.sep {
    border-bottom: 1px solid #b7c5c7;
}

table.genout-fej {
    font-size: 80%;
    color: #449bd1;
    background-color: #e9e9e9;
     text-align: center;
}

table.genout-sor tr:first-child td {
    text-align: center;
    background-color: #b4d2d2;
}

table.genout-nyil {
    display: inline-table;
    margin-right: 10px;
    margin-left: 10px;
}

table.genout-nyil tr td {
    font-size: 12px;
    text-align: center;
}

div.meret {
    font-size: 80%;
    border-bottom: 1px solid #d6e6e6;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

::highlight(search-results) {
    background-color: #f06;
    color: white;
}

#mshout div.meret {
    border-bottom: 1px solid #ddc7c7;
}

td input.malpha {
    width: 50px;
    border: none;
    border-bottom: 1px solid #b3b3b3;
    background: inherit;
    text-align: center;
    height: 22px;
    color: #777777;
    font-weight: 800;
    font-size: 14px;
}

td input.mvec {
    width: 46px;
    height: 22px;
    border-right: 3px solid #444444;
    border-left: 3px solid #444444;
    border-top: none;
    border-bottom: none;
    border-radius: 7px;
    text-align: center;
    background-color: inherit;
    font-size: 16px;
}

td.msep {
    font-size: 140%;
    line-height: 1;
}

span.bzj {
    font-size: larger;
    font-weight: 800;
    vertical-align: baseline;
}

input.inpvec {
    width: 160px;
    height: 22px;
    border-right: 3px solid #444444;
    border-left: 3px solid #444444;
    border-top: none;
    border-bottom: none;
    border-radius: 7px;
    text-align: center;
    background-color: inherit;
    font-size: 16px;
    vertical-align: baseline;
}

table thead tr th span.tsorszam {
    font-size: 12px;
    text-align: center;
    display: inline-block;
    width: 21.36px;
}

table tr td span.tgomb {
    cursor: pointer
}

table tr td span.tgomb:hover {
    color: #999;
}

table tr.derivlast td {
    color: red;
}

table tr td.derivkezd {
    font-size: 18px;
}

table tr td.derivkezd span {
    font-size: 14px;
    vertical-align: middle;
}

table tr td input.cinput {
    width: 25px;
    text-align: center;
    border: 1px solid #9bb8c1;
    background-color: #d1dfdd;
    font-size: inherit;
}

table thead tr th.cindh {
    border: 1px solid #aaa;
    background-color: #dde9f3;
    padding: 0 5px;
    cursor: pointer;
}

table thead tr th.cindh.cindred {
    border: 1px solid #ea8585;
    box-shadow: 0px 0px 10px 3px #eea8a8;
}
