.pre-container {
    margin: 0 8px;
    display: inline-block;
}

pre {
    font-size: 12px;
    background-color: #e3eaea;
    cursor: pointer;
    padding: 5px 10px;
    width: 98%;
    margin-right: 2%;
}

button.sendbtn {
    float: right;
    font-size: 22px;
    position: relative;
    bottom: 20px;
}